 
 .container {
  width: 100%;
  height: 1300px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.card1 {
  position: relative;
  width: 456px;
  height: 555px;
  left: 30px;
}

.card2 {
  position: relative;
  width: 456px;
  height: 555px;
  margin-right: 70px;
}

.card3 {
  position: relative;
  width: 456px;
  height: 555px;
  right: 20px;
  
}

.card3 .title, .card3 .price {
  color: #FFFFFF;
}

.title {
  position: absolute;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 90%;
  letter-spacing: 0%;
  color: #00295B;
  bottom: 10px;
  left: 5%;
}

.price {
  position: absolute;
  font-style: italic;
  left: 70%;
  font-size: 25px;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: 0%;
  color: #00295B;
  font-size: 20px;
  bottom: 10px;

}










